.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
p{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}
#chessboard{
    width: 720px;
    height: 720px;
    border: 10px solid #333;
}
.black {
    background-color: #999;
}
.white {
    background-color: #fff;
}
.box{
    float: left;
    width: 90px;
    height: 90px;
    font-size:80px;
    text-align:center;
}